*{
  box-sizing: border-box;
  
}
body{
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
}
h1,h2,h3,p{
  margin: 0;
}
header{
  padding: 2.5rem 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container{
  padding: 2rem 25px;
}
.bold {
  font-weight: 700;
}
header nav{
  display: flex;
  gap: 1rem;
}
.text-grey{
  color: #4d4d4d;
}
/* LINKS */
header a {
  text-decoration: none;
  color: #4d4d4d;
  /* color: #4d4d4d; */
  font-weight: 600;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}
header .site-logo {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}
nav{

  display: flex;
  align-items: center;
}
nav .user-logo{
  padding-top: 3px;
}
.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: .75rem 1.375rem;
  background-color: #FFCC8D;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}
.link-button:hover {
  transform: translate(1px, 1px);
}
.link-button-bg {
  width: 100%;
  color: #FFF7ED;
  background-color: #FF8C38;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1.1rem;
}
.link-text{
  color: #E17654;
  font-weight: 700;
  text-decoration: none;
}
.btn-full{
  display: block;
  background-color: #161616;
  color: #FFF7ED;
  margin: 2rem 0;
}
.activeStyle{
  color: #161616;
  font-weight: 700;
  text-decoration: underline;
}
.link-button.simple.selected{
  background-color: #E17654;
}
.link-button.luxury.selected{
  background-color: #161616;
  color: #FFF7ED;
}
.link-button.rugged.selected{
  background-color: #115E59;
}

.back-button{
  text-decoration: none;
  color: #161616;
  font-size: 1rem;
  margin: 5rem 0;
}

.clear-filter{
  background-color: #FFF7ED;
  border: 1px solid #4d4d4d;
}
.filter-container{
  display: flex;
  margin-top: 1.5rem;
  gap: 15px;
}


footer {
  background-color: #161616;
  color: #AAAAAA;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-weight: 500;
}
/* HOMEPAGE */
.home-container{
  background: linear-gradient(0deg, rgba(0,0,0,0.46), rgba(0,0,0,0.46)),url('assets/images/home-hero.png') no-repeat center center;
  background-size: cover;
  height: 320px;
  padding-inline: 25px;
  padding-top: 50px;
  color: #FFF7ED;
}

.home-container h2{
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
}
.home-container p{
  color: #FFF7ED;
  line-height: 1.5rem;
}


/* ABOUT Page */

.about-hero-img{
  max-width: 100%;
}
.about-content{
  padding-top: 2rem;
  padding-inline: 25px;
}
.about-content p{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.about-content-cta{
  background: #FFCC8D;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-radius: 5px;
  margin-inline: 10px;
  margin-top: 3rem;
}

.about-content-cta p{
  font-weight: 700;
  font-size: 1.2rem;
}
.about-content-cta .link-button{
  border-radius: 10px;
  color: #FFF7ED;
  background-color: #161616;
  display: inline;
  width: fit-content;
}


/* VANS page */
.van-list-container {
  padding-inline: 23px;
}
.van-list-container h1{
  margin-top: .8rem;

}
.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;

  gap: 34px;
  margin-top: 57px;
}

.van-info{
  display: flex;
  justify-content: space-between;
  padding: 15px 0;

}
.van-info p{
  font-weight: 700;
  font-size: 1.2rem;
}
.van-card{
  padding:10px 0;
}
.van-type{
  background-color: #FFEAD0;
  color: #4d4d4d;
  padding: 7px 15px;
  border-radius: 5px;
  max-width: fit-content;
}
.van-type-simple{
  background-color: #E17654;
  color: #FFEAD0;
}
.van-type-rugged{
  background-color: #115E59;
  color: #FFEAD0;
}
.van-type-luxury{
  background-color: #161616;
  color: #FFEAD0;
}
.van-list a{
  text-decoration: none;
  color: #161616;
}
.van-card img {
  /* width: 100%; */
  max-width: 100%;
  border-radius: 5px;
}

/* VAN-DETAILS page */
.van-detail-container{
  padding: 10px 25px;
}

.van-detail img{
  max-width: 100%;
  margin-bottom: 3rem;
}
.van-detail h2{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.van-detail h3{
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.day{
  font-size: 1.1rem;
  color: #4d4d4d;
}

/* HOST PAGE */
.host-nav{
  width: 70%;
  padding: 20px 0;
  display: flex;
  gap: 2rem;
}
.host-nav a{
  text-decoration: none;
  color: #4d4d4d;
}
.host-nav .activeStyle{
  color: #161616;
  font-weight: 700;
  text-decoration: underline;
}
.host-nav a:hover{
  text-decoration: underline;
  color: #161616;
  font-weight: 500;
}
.host-vans-container{
  margin:2rem 0;
}
.host-vans{
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.host-vans a {
  text-decoration: none;
  color: #161616;
}
.host-vans-card{
  padding: 15px; 
  background-color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
}
.host-vans-card img{
  width: 70px;
  border-radius: 5px;
}

.host-vans-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* HOST VAN DETAIL Page */
.host-van-detail-container{
  padding: 15px 25px;
}
.host-van-detail{
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}
.host-van-detail-highlight{
  display: flex;
  align-items: center;
  gap: 15px;
}

.host-van-detail-highlight img{
  height: 100px;
  border-radius: 5px;
}
.host-van-detail-info{
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.host-van-detail-content{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* LOGIN */
.login-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.login-form > input{
  border: 1px solid rgba(209, 213, 219);
  text-indent: 10px;
  height: 40px;
  font-family: inherit;
  font-weight: 400;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
.login-form > input:focus{
  outline: none;
}
.login-form > button{
  margin-top: 20px;
  color: #161616;
  text-transform: uppercase;
}
.login-message-danger{
  color: #E17654;
}

/* REVIEW PAGE */

.review-header{
  display: flex;
  gap: 25px;
  align-items: end;
}

.review-header p{
  padding-bottom: 5px;
  text-decoration: underline;
}

.review-image, .income-image{
  height: 250px;
  margin: 20px 0;
}
.review{
  border-bottom: 1px solid #4d4d4d;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.review-info{
  display: flex;
  gap: 10px;
}
.review-date{
  color: #AAAAAA;
}
.review-stars{
  display: flex;
}
.review-star {
  color: #ff8c38;
  margin-right: 5px;
}

/* INCOME page */
.income-container h1{
  margin: 1rem 0;
}
.underline{
  text-decoration: underline;
}

.income-number{
  font-weight: 700;
  font-size: 3rem;
}
.transactions-header{
  display: flex;
  justify-content: space-between;
}
.transaction{
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
}
.transaction h2{
  font-size: 2rem;
}
/* host-vans */
.van-image{
  height: 200px;
  border-radius: 5px;
}